.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    background-color: #66FCF1;
    
}

.about-sec {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}

.img-about {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

@media screen and (max-width :700px) {
    .about-sec {
        flex-direction: column;
    }
}