* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #C5C6C7;
    font-size: 18px;
}


html{
    scroll-behavior: smooth;
}


section {
    padding-top :100px;
    width: 100%;
}


.heading {
    font-size: 45px;
    text-align: center;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    
}