:root {

    /*Fonts sizes*/
    --paragraph-font-normal : 1.125rem ;
    --heading-font-inner : 30px;
    --heading-font-small : 25px;
    --heading-font: 2.813rem;

    /*Font colors*/
    --font-color-grey : #C5C6C7;
    --font-color-background-black : #0B0C10;
    --font-color-background-blue : #66FCF1;
}




/*---------------------------------------- General CSS styles----------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color-grey);
    
}


html{
    scroll-behavior: smooth;
}


section {
    padding-top :135px;
    width: 100vw;
}


.heading {
    font-size: var(--heading-font);
    text-align: center;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--font-color-background-black);
    
}

a {
    text-decoration: none;
    cursor: pointer;
}


/*-----------------------------------------------Navigation styles-----------------------------------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--font-color-background-black);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 265px;
    max-width: 100%;
    max-height: 35px;
    z-index: 1000; /* Ensure the header is above other elements */
}

.navbar-links {
    display: flex;
    justify-content: end;
    column-gap: 5%;
    align-items: center;
    flex: 1;

}

.navbar-links-dropdown {
    
    transform: translateY(-100%);
    transition: transform, opacity 0.5s ease-in-out; /* Add transition property */
    opacity: 0;
    width: 0%;
    
}

.logo h3{
    display: flex;
    align-items: center;
    height: 100%; 
    margin: 0; 
    flex: 1;
}

.logo {
    text-align: center;
    max-height: 35px;
}

.button-toogler {
    display: none;
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    cursor: pointer;
}


.menu-icon {
    width: 100%;
    height: 35px;
    /* min-width: 100%; */
    flex-shrink: 0;
}


.navlink {
    text-decoration: none;
}
.name {
    text-decoration: none;
    padding-left: 20px;
}
.info{
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #C5C6C7;
}

.info:hover {
    color: var(--font-color-background-blue);

}

.logo {
    margin: 0 auto;
}

.button-toogler:active {
    background-color: var(--font-color-background-black);
}



/*--------------------------------------------Welcome section styles----------------------------------------------------------*/
.welcome {
    background-color: var(--font-color-background-black);
    
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
}


.name {
    color: var(--font-color-background-blue);
}

.greeting {
    width: 100%;
    text-align: center;
}


/*---------------------------------------------About me  section styles---------------------------------------------------------*/
.about {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    background-color :var(--font-color-background-blue);
}

.about-content {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-shrink: 0;
    /* padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%; */
    padding: 5% 10%;
    min-width: 300px;
    /* text-align: center; */
}

.text , .heading ,.inner-heading{
    color: var(--font-color-background-black);
}


.inner-heading {
    text-align: center;
    font-size: var(--heading-font-inner);
    opacity: 0.7;
}

.text {
    font-size: var(--paragraph-font-normal);
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    flex: 1;
    padding-left:5%;
    padding-right: 5%;
}

.img-about {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    min-width: 300px; 
    object-fit: cover; 
    object-position: center;
    flex-shrink: 0;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;

}

.my-skills-section {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    row-gap: 30px;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}

/*--------------------------------------------Skills section styles-----------------------------------------------------------*/

.skills-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 8px;
}


.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    max-height: 40px;
    padding-left : 3px;
    padding-right: 3px;
    border: solid;
    border-width:1px ;
    border-radius: 5px;
    border-color: grey;
    flex-shrink: 0;

}
.skill-name {
    font-size: var(--paragraph-font-normal);
    color: var(--font-color-background-black);
}


.skill-logo {
    width: 30px;  
    height: 30px; 
    object-fit: contain;
    object-position: center;
}

/*--------------------------------------------Project section styles----------------------------------------------------------*/
.projects-heading{
    color: var(--font-color-background-blue);
}
.projects {
    padding-left: 10%; 
    padding-right: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.project-content {
    display: flex; 
    flex-wrap: wrap;
    column-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 20px;
    justify-content: space-between;
}


.project {
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-width: 2px; 
    border-color: grey; 
    flex-direction: column; 
    width: 45%;
    flex-shrink: 0;
    border-radius: 3px;
}


.project-description {
    display: flex;
    justify-content: space-between; 
    flex-direction: column; 
    flex-shrink: 0;
    flex: 1;
    row-gap: 5px;
}



.project-img-contaier {
    width: 100%; 
    flex-shrink: 0;
}



.project-img {
    width:100%;
    height: 300px;
    object-fit: cover; 
    object-position: center;
}



.project-name {
    text-align: center;
}

.project-link-button {
    width: 100px;
    padding: 10px 10px;
    background-color: var(--font-color-background-blue);
    border: none; 
    border-radius: 4px; 
    margin: 0 auto;
}


.project-link-button:hover {
    opacity: 0.65;
}



.project-description p a{
    font-style: italic;
}


.project-description p a:hover{
    color: var(--font-color-background-blue);
    
}


.project-github-link {
    box-sizing: none;
    
    color: var(--font-color-background-black);
}


/*-----------------------------------------------------Contact me section styles----------------------------------------------------------------*/

.contact {
    background-color: var(--font-color-background-blue);; 
    padding-left: 10%; 
    padding-right:10% ;
    padding-bottom: 10%;
}


.contact-content {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.my-contacts{
    display: flex; 
    flex-direction: column; 
    row-gap: 30px;
}

.my-contacts p {
    color: var(--font-color-background-black);
}


.contact-me-container {
    display: flex; 
    flex-direction: column; 
    row-gap: 30px;
}



.contact-form {
    display: flex; 
    flex-direction: column; 
    row-gap: 20px;
}

.form-element {
    display: flex;
    flex-direction: column;
    
}

.form-element label {
    color: var(--font-color-background-black);
}


.contact_email, .contact_name, .contact_message {
    border-radius: 5px;
    border: none;
    font-size: var(--paragraph-font-normal);
    color: var(--font-color-background-black);
    padding: 10px 20px;
    
}

.contact_submit {
    padding: 15px 20px;
    font-size: var(--font-color-background-black);
    color: var(--font-color-background-grey);
    width: fit-content;
    margin: 0 auto;
    background-color: var(--font-color-background-black);
    border: none;
    border-radius: 5px;
    
}


/*-----------------------------------------------------Media query styles---------------------------------------------------------------------*/

@media screen and (max-width:700px) {



    /*-------------Navigation media query styles-------------------------------------*/
    .button-toogler{
        display: flex;
        background-color: var(--font-color-background-blue);
        position:absolute;
        left :10px;
        width: 35px;
        margin: 0;
        align-items: center;
        flex-shrink: 0;
    }
    nav {
        flex-direction: column;
        height: auto;
    }

    .navbar-links{
        display: none;
    }
    .navbar-links-dropdown-active{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        top: 35px;
        padding-left: 10px;
        background-color:  var(--font-color-background-black);
        transform: translateY(0);
        opacity: 1;
        column-gap: 2px;
    }

    .logo {
        position: absolute;
        display: flex;
        justify-content: space-between;
        background-color: var(--font-color-background-black);
        width: 100%;
        height: 35px;
        min-width: 256px;
    }

    .logo h3 {
        padding-left: 30%;
    }


    /*--------------------------About me section media query styles------------------------------------------------------------*/
    .about{
        row-gap: 30px;
    }
    .about-content {
        flex-direction: column;
        row-gap: 50px;
    }

    .my-skills-section {
        width: 100%;
    }


    /*--------------------------Project section media query styles---------------------------------------------------*/
    .project-content{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        column-gap: 20px;
        row-gap: 20px;
    }
    .project {
        width: 100%;
    }

    /*---------------------------------------Contact section media query---------------------------------------------------------------*/
    .contact-content{
        flex-direction: column;
        row-gap: 20px;
    }
}


@media screen and (max-width: 430px){
    .contacts-heading{
        font-size: var(--heading-font-small);
    }
}